html {
  background-color:#fafafa;
  font-family: 'Libre Baskerville', serif;
}

.main {
  padding: 24px;
  font-family: 'Libre Baskerville', serif;
  background-color: #a64ac9;
  height: 100%;
  color: #ffffff;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../static/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("woff");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}
